<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>发布留言页面呀</h1><a href="/">首页</a>
    <form action="pinglun" method="get">
        <div>
            <label for="inputEmial">您的名字</label>
            <input  name="name" id="inputEmial" type="text">
        </div>
        <div>
            <label for="inputContent">您的名字</label>
            <textarea name="message" id="inputContent" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">发表</button>
    </form>
</div>
</body>
</html>